.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

@keyframes example {
    0% {
        top: 0px;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 0px;
    }
}

.move {
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

::-webkit-scrollbar {
    width: 10px;
    margin: auto
}

::-webkit-scrollbar-track {
    background-color: #574d33
}

::-webkit-scrollbar-thumb {
    background: #17b157;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #11cc5f;
    border-radius: 5px;
}

@media (max-width: 576px) {
    .text {
        height: 200px;
    }
}
@media (max-width: 768px) {
    .text {
        height: 190px;
    }
}
@media (max-width: 992px) {
    .text {
        height: 210px;
    }
}
@media (max-width: 1200px) {
    .text {
        height: 230px;
    }
}
@media (max-width: 1400px) {
    .text {
        height: 290px;
    }
}
@media (min-width: 1400px) {
    .text {
        height: 350px;
    }
}